{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - Details{% endblock %}

{% block body %}
    <div class="container flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-8 m-auto">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title">
                            <h1 class="fw-bold" style="color: limegreen;">TODO (event name)</h1>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between mt-4">
                                <div>
                                    <p>From <span
                                                class="fw-semibold">TODO (start at)</span> to
                                        <span class="fw-semibold">TODO (end at)</span></p>
                                    <p class="my-0">Project: TODO (project name)</p>
                                    <p class="my-0">Organizations: TODO (organization list joinded with ', ')</p>
                                    <p>Accessible
                                        : TODO : <span style="color: limegreen;">Yes</span> ou <span style="color: red;">No</span></p>
                                </div>
                                <p class="fst-italic">TODO (count) volunteers yet.</p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p class="text-muted">TODO (prerequisities. Must default to 'No prerequisites')</p>
                            <p class="">TODO (description)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 m-auto justify-content-start">
                <a href="TODO (list events)">
                    <button class="btn text-white" style="background-color: limegreen;">Back</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
